# Project - Acquire and Prepare Data from Web

![Data Science Workflow](img/ds-workflow.png)

## Goal of Project
- This project will focus on Step 1 and 2 (**Acquire** and **Prepare**)
- We will read raw data that needs Data Wrangling to prepare
- The process we follow demonstrates how a Data Scientist works

## Step 1: Acquire
- Explore problem
- Identify data
- Import data

### Step 1.a: Import libraries
- Execute the cell below (SHIFT + ENTER)

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Step 1.b: Retrieve/Read the data
- There are two options to get data
#### Option 1: Directly from wikipedia
- Assign variable ```url = "https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"```
- Retrieve the data ```tables = pd.read_html(url)```
- Assign the first DataFrame to a variable
    - HINT: ```tables``` is a list DataFrame containing all the data

#### Option 2: From csv file (if option 1 fails)
- Use ```pd.read_csv()``` to read the file `files/fundraising.csv`
- NOTE: Remember to assign the result to a variable (e.g., ```data```)
- Apply ```.head()``` on the data to see all is as expected

In [42]:
url="https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"

In [43]:
tables=pd.read_html(url)

In [44]:
data=tables[0]

In [45]:
data.head()

      Year Source        Revenue       Expenses    Asset rise   Total assets
0  2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
1  2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
2  2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
3  2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
4  2016/17    PDF   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197

## Step 2: Prepare
- Explore data
- Visualize ideas
- Cleaning data

In [46]:
type (data)

pandas.core.frame.DataFrame

### Step 2.a: Check the data types
- This step tells you if some numeric column is not represented numeric.
- Get the data types by ```.dtypes```

In [47]:
data.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

### Step 2.b: Check for null (missing) values
- Data often is missing entries - there can be many reasons for this
- We need to deal with that (will do later in course)
- Use ```.isna().any()```

In [48]:
pd.isna(data).any()

Year            False
Source          False
Revenue         False
Expenses        False
Asset rise      False
Total assets    False
dtype: bool

### Step 2.c: Delete Source Column
- The Column Source adds no value for further investigations
- You can delete it by 
    - ```del data['Source']```

In [49]:
data.head()

      Year Source        Revenue       Expenses    Asset rise   Total assets
0  2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
1  2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
2  2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
3  2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
4  2016/17    PDF   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197

In [50]:
del(data['Source'])

In [51]:
data.head()

      Year        Revenue       Expenses    Asset rise   Total assets
0  2020/21  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
1  2019/20  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
2  2018/19  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
3  2017/18  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
4  2016/17   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197

### Step 2.d: Convert Year column to numeric
- All the strings in years are formatted: 'YYYY/YY'
- To get the last year as string: ```data['Year'].str[-4:]```
- To convert that to numeric use: ```pd.to_numeric(...)```
    - HINT: You can assign the column directly

In [56]:
data['Year']=data['Year'].str[-2:]

In [57]:
data.head()

  Year        Revenue       Expenses    Asset rise   Total assets
0   21  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
1   20  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
2   19  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
3   18  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
4   17   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197

### Step 2.e: Set Year to index
- To change a column to be the index use: ```data.set_index('Year', inplace=True)```
- Also sort the index in correct order: ```data.sort_index(inplace=True)```

### Step 2.f: Convert the remaining columns to numeric
- Remember the steps from the lesson
    - ```.str[2:]``` to remove the first two characters ('\$ ')
    - ```.str.replace(',', '')``` to remove commas
    - ```pd.to_numeric(...)``` converts string (containing well-formed number) to the numeric value
- Try to do it directly column by column

### Step 2.g: Visualize data to investigate quality
- Make a simple plot of **Revenue**, **Expenses** and **Total assets**
- This will help you spot any outliers

### Step 2.h: Visualize data to investigate quality
- Make a simple plot of **Asset rise**
- This will help you spot any outliers